# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/ 

# Pytest
.pytest_cache/

# Logs
*.log

# Vs Code
.vscode/

# Operation System
.DS_Store
Thumbs.db

# Packaging
*.egg-info/
dist/
build/

# PyInstaller
build/
*.spec